body{
  margin: 0;
  background-color: rgb(12, 12, 63);
  padding:30px;
  height: 90vh;
  display: flex;
  justify-content: center;  
}

#root{    
  height: 100%;
  width: 100%;
  max-width: 800px;
  max-height: 900px;
}

main{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.872);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.die-container{  
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap:40px 70px;  
  padding:10px;
}

.die{
  font-family:Inter,'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 2rem;
  font-weight: 600;
  width: 50px;
  height: 50px;
  padding: 60%;
  border-style: none;
  border-radius: 8px;
  box-shadow: rgb(161, 147, 147) 1px 1px 4px;
  cursor: pointer;
}